<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

<% flash.each do |key, value| %>
        <div class="<%= flash_class(key) %>" style="background-color: #ffcccc">
  <button type="button" class="close" data-dismiss="alert">&times;</button>
  <strong>Heads up!</strong> <%= value %>
        </div>
<% end %>

<%= form_tag 'capture', :authenticity_token => true do %>
<div class="col-lg-6 col-lg-offset-3" id="main_base">
    <div class="well bs-component" id="form_container_base">
      <center>
      <legend>Capture Weight</legend>
      
    

    <div class="form-group">
    <h4>Item name: &nbsp;&nbsp;<%=@item_name%></h4>
    </div>

    <div class="form-group">
        <%=label_tag 'weight' %>
        <%= text_field_tag 'weight', @captured_weight , class: 'form-control special_weight' , disabled: true%>
    </div>

    <%= submit_tag 'Capture', :class => 'btn btn-primary btn-sm', :id => 'final_capture' %>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <%= submit_tag 'Submit', :class => 'btn btn-primary btn-sm', :id => 'final_submit' %>
    </center>
</div> 
</div> 

<%= hidden_field_tag :grnitem_radio, @grnitem_id %>
<%= hidden_field_tag :grnitem_name, @item_name %>
<%= hidden_field_tag :weight_value, @captured_weight %>
<%end%>

<style>
.special_weight
{
  width:100px;

}
.btn-primary
{
  background-color: #1a6ecc;
}
</style>

<script>
  
  var box_data=$("#weight").val();
  if(box_data=="" || box_data=="0.0")
  {
    $("#final_submit").prop('disabled',true);
  }
</script>