<script src="https://cdn.jsdelivr.net/sweetalert2/6.6.2/sweetalert2.min.js"></script>
<link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/sweetalert2/6.6.2/sweetalert2.min.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

<% flash.each do |key, value| %>
        <div class="<%= flash_class(key) %>">
  <button type="button" class="close" data-dismiss="alert">&times;</button>
  <strong>Heads up!</strong> <%= value %>
        </div>
<% end %>
<%= form_tag 'capture', :authenticity_token => true do %>

<div class="row row_position">

      <div class="col-sm-2 col-md-2"></div>
      <div class="col-sm-10 col-md-10">
       
        <center>
         <%= label_tag :grnitem, "Pending Weighment", class: "label_grnitem" %>&nbsp;&nbsp;&nbsp;&nbsp;
         </center>
      </div>
      <br>
      <div style="text-align:right;">
        <%= submit_tag 'Capture Weight', :class => 'btn btn-primary btn-xs', :id => 'gross_capture' %>
        &nbsp;&nbsp;&nbsp;&nbsp;
      </div>
      <br>
</div>

<table class="table table-striped table-hover" id="pending_weighment" style="width: 100%;">
  <thead>
    <tr>
      <th></th>     
      <th>Date</th>
      <th>Vendor</th>
      <th>Item</th>
      <th>Ch</th>
    </tr>
  </thead>

  <tbody>


    <% @response.each do |grnitem| %>
    
    <% if grnitem.empty? %>
    <%else%>


      <%if grnitem['gross_weight']!=nil %>
      <tr class="danger">
      <%else%>
      <tr>
      <%end%>

      <% str=grnitem['date']%>
      <% str=str.slice(0..(str.index('T')))%>
      <% str=str.chomp('T')%>
        <td><%= radio_button_tag 'grnitem_radio', grnitem['id'], false %></td>
              
        <td><%= str %></td>

        <td><%= grnitem['vendor_name']['description'] %></td>

        <td id=<%=grnitem['id']%>name><%=grnitem['item_name']['description'] %></td>
  
            
        <td><%= grnitem['challan_quantity'] %></td>

      
      </tr>
      <%end%>
  <% end %>
        
  </tbody>
</table>

<%= hidden_field_tag :grnitem_name, "" %>
<% end %>


<style >
  .dataTables_scrollHead{
    height: 30px;
    }
    .dataTables_info{
    display:inline-block;
    float:left;
    align-content: left;
    position:relative;
    top:-25px;
    }
   .dataTables_length{
    display:inline-block;
   float:right;
   position: relative;
   top:-25px;
   }

 
  .row_position{

    width: 1200px;
   }
   
 .dataTables_scrollFoot{
  height: 17px;
  font-size: 9px;
  font-weight: bold;
 }
 ./*spanheight{
  display: inline-block; 
  width: 10em;
 }*/
.form_footer{
   position: relative;
    top:-15px;
}
.wrapper{
  position:relative;
  top:-5px;
}
.label_grnitem {
  
  font-size: 17px;
  }
  .refrash_button {
    position:relative;
    top:-1px;
    border: 2px solid silver;   
}
.btn-primary
{
  background-color: #1a6ecc;
}
  </style>

<script>

$("form").submit(function(e){
  var checkedelement = $('input[name=grnitem_radio]:checked');
  if (! checkedelement.length) {
     e.preventDefault();
     swal('Please select an item');
  }
  else
  {
    var data=$("input[name='grnitem_radio']:checked").val();
  }
});
</script>

<script>
  
  $("input[name='grnitem_radio']").change(function(){
     var radio_id=$(this).attr('value'); 
     console.log(radio_id);
     var item_name=$('#'+radio_id+'name').html();
     $("#grnitem_name").val(item_name);
});
</script>